/* Input */
.inputBiografia{
    resize: none;
    border: none;
    border-radius: 1vw;
    border: none;
    padding: 0.3vw;
    outline: none;
    transition: 0.25s;
}
.inputBiografia:focus{
    border: 1px solid #1274BB; ;
    outline: none;
}

/*Buttons*/
.btn-exit:hover{
    background-color: rgb(194, 38, 38);
    border-color: rgb(194, 38, 38);
}
.btn-exit{
    border-radius: 50px;
    border: 1px solid #ae1111;
    background-color: #ae1111;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    box-shadow: 2px 12px 12px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;  
}

.btn-style{
    background-color: #1274BB; 
    border-radius: 20px;
    border: 1px solid #1274BB;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    box-shadow: 2px 12px 12px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;                 
  }
  .btn-style:hover{
    background-color: #208ad7;
  }
  .btn-style:active{
    transform: scale(0.95);
  }
  .btn-exit:active{
    transform: scale(0.95);
  }

.btn-style:hover{
  background-color: #3592d5;
  border-color: #3592d5;
}

/*Body Modal*/ 

.modal-body{
    background-color: #DAE8EC;
}
.modal-header, .modal-footer{
    background-color: #E2EDEF;
}
h1{
    font-size: 2vw;
    color: #D9DCF1;
    background-color: #1274BB;
    padding: 0.3vw 1vw;
    border: 1px solid #1274BB;
    border-radius: 3vw;
    width: 10vw;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
}