<h1 class="justify-content-center d-flex" style="margin-bottom: 4vw;">Educacion</h1>
<div class="experience-container" id="boxEducacion">
    <ul>
        <button class="btn-e new-experience" data-bs-toggle="modal" data-bs-target="#educacion-modal">
            <p class="text-experiencia">Añadir educacion<img src="../../assets/img/newGreen.webp" alt="new" class="logo-experiencias"></p>
        </button>
    </ul>
   <div id="etiquetas">

   </div>
    
</div>

<div class="modal fade" id="educacion-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Tu educacion
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="contenedor">
                    <div class="box-skill">                  
                        <label for=""><b> Texto de la etiqueta</b></label>
                        <textarea name="" id="bio" cols="55" rows="1" maxlength="30" [(ngModel)]="texto"></textarea>                            
                        
                    </div>
                    <div class="box-skill"> 
                        <div style="padding-bottom: 10px;">
                            <h1 id="staticBackdropLabel">Vista previa
                            </h1>
                        </div>
                        <div class="background-modal-experience d-flex">
                           
                            <div>
                                <button class="btn-e  new-experience" data-bs-toggle="modal" data-bs-target="#experiencia-modal">
                                    <p class="text-experiencia">{{texto}}<img src="../assets/img/newGreen.webp" alt="new" class="logo-experiencias"></p>
                                </button>
                            </div>
                           
                        </div>
                        <div class="menuEducacion d-flex"> 
                            <label class="subirFotoMenu">
                                <input type="file" id="cargarFoto" class="photo-update">Subir foto
                            </label>
                        
                            
                            <label class="cambiarColorMenu">
                                <input type="button" id="cargarFoto" class="photo-update" (click)="mostrarError()">Editar color
                            </label>
                            
                            <label class="elegirPrioridadMenu">
                                <input type="button" id="cargarFoto" class="photo-update" (click)="mostrarError()">Prioridades
                            </label>
                            
                    </div>
                        <div id="error">
                            <p *ngIf="showError" style="margin-left: 1rem; background-color: brown; border-radius: 0px 0px 20px 20px ; padding-bottom: 0.5rem; padding-left: 1.2rem; color: aliceblue; width: 21rem; height: 1.7rem; opacity: 0.7; ">Funcion no disponible</p>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-exit" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn-style" data-bs-dismiss="modal" (click)="addElement()">Publicar</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
