<a href="{{link}}" class="{{linkDisplay}}" target="{{target}}">
<li style="--i: {{color}}; --j: {{color2}}">
    <span class="icon"><i class="{{clase}}"><img src="{{imagen}}" alt="{{alt}}" class="imagen {{display}}"></i></span>
    <span class="titulo">{{name}}</span>
</li>
</a>


<li style="--i: {{color}}; --j: {{color2}}" class="btn-style" data-bs-toggle="modal" data-bs-target="#config" class="{{modalDisplay}}">
    <span class="icon"><i class="{{clase}}"><img src="{{imagen}}" alt="{{alt}}" class="imagen {{modalDisplay}}"></i></span>
    <span class="titulo">{{name}}</span>
</li>

