<h1 class="titulo justify-content-center d-flex">Proyectos</h1>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators" id="agregarLista">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" id="agregarProyecto">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <div class="card card-style " data-bs-toggle="modal" data-bs-target="#card-modal">
          <img src="../../assets/img/proyect-new.webp" class="card-img-top" alt="Slide 1" >
          <div class="card-body">
            <p class="card-text">¡Sube ya tu nuevo proyecto!</p>
            <button type="button" class="btn-style">Ver el proyecto</button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <div class="card card-style " data-bs-toggle="modal" data-bs-target="#card-modal">
          <img src="../../assets/img/proyect-new.webp" class="card-img-top" alt="Slide 1" >
          <div class="card-body">
            <p class="card-text">¡Sube ya tu nuevo proyecto!</p>
            <button type="button" class="btn-style">Ver el proyecto</button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <div class="card card-style " data-bs-toggle="modal" data-bs-target="#card-modal">
          <img src="../../assets/img/proyect-new.webp" class="card-img-top" alt="Slide 1" >
          <div class="card-body">
            <p class="card-text">¡Sube ya tu nuevo proyecto!</p>
            <button type="button" class="btn-style" data-bs-toggle="link" data-bs-target="#link">Ver el proyecto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="modal fade" id="link" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog "  >
    <div class="modal-content">
      <div class="modal-body"  style="border-radius: 20px 20px 0px 0px;">
        <h1  id="staticBackdropLabel" class="link">Link</h1>
        
          <textarea name="" id="href" cols="65" rows="1" class="link-text" placeholder="Pega el link de tu proyecto..."></textarea>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-exit" data-bs-toggle="modal" data-bs-target="#card-modal">Cerrar</button>
        <button type="button" class="btn-style"data-bs-toggle="modal" data-bs-target="#card-modal" >Publicar</button>
      </div>
    </div>
  </div>
</div>
<label for="cargarFoto" class="d-flex">
</label>

<div class="modal fade" id="card-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Tu proyecto
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div class="background-modal-card d-flex ">
          <div class="card card-style">
            <div class="img-card-model" >
              <label for="imagenUpdate">
                <img src="{{upload}}" class="card-img-top" alt="edit" id="moda-card">
                
                  <input type="file" id="imagenUpdate" name="img" class="descripcion" (change)="updateProfile($event)">
                
              </label>
            </div>
            <div class="card-body">
              
              <textarea name="" id="texto" cols="29" rows="1" style="border-radius: 8px;" maxlength="200"></textarea>
              <button type="button" class="btn-style" data-bs-toggle="modal" data-bs-target="#link">Ver proyecto</button>
            </div>                                     
          </div>     
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-exit" data-bs-toggle="modal" aria-label="Close">Cerrar</button>
        <button type="button" class="btn-style" data-bs-dismiss="modal" (click)="crearProyecto()" aria-label="Close">Publicar</button>
      </div>
    </div>
  </div>
</div>