
    <div class="d-flex justify-content-center align-items-center" style="flex-direction: column; text-align: center;">
        <h1>{{titulo}}</h1>
        <p>{{subtitulo}}</p>
    <div class="skill">
        <div class="html">
          <svg xmlns="http://www.w3.org/2000/svg" version ="1.1" width="160px" height="160px">
            <defs>
              <linearGradient id="html">
                <stop offset="0%" stop-color="#e91e63" />
                <stop offset="100%" stop-color="#673ab7" />
              </linearGradient>
            </defs>
            <circle class="circle" cx="80" cy="80" r="70" stroke-linecap="round" />
          </svg>
          <div class="outer">
            <div class="inner">
              <div id="number">
                {{porcentaje}}%
              </div>
            </div>
            <h3 class="text-skill">
                {{descripcion}}
            </h3> 
          </div>
        </div>
      </div>

    <label for="skillButton" style="display:inline-block; text-align: center;"> 
        <div style="margin-bottom: 1rem;">
        <h4 style="color: black;">{{pregunta}}</h4>
        <button class="opciones"><p><b>{{opciones}}</b></p></button>
        </div>
        
        <form action="../js/skills.js" method="post" style="display: flex; gap: 30px; flex-direction: column; border: none; ">
            <input type="button" name="afirmativo" class="btn-style" value="Si" id="RespuestaA" (click)="Data()"> 
            <input type="button" name="negativo" class="btn-exit" value="No" id="RespuestaB">
        </form>
    
    </label>
    </div>
   
  