<img src="{{img}}" alt="" class="iconoGlobal" style="--i: {{color}}; --j: {{color2}}">
<input type="text" id="instragram" [(ngModel)]="instragram" (ngModelChange)="instagramFunction()" class="{{displayInstagram}}">
<input type="text" id="facebook" [(ngModel)]="facebook" (ngModelChange)="facebookFunction()" class="{{displayGithub}}">
<input type="text" id="github" [(ngModel)]="github" (ngModelChange)="githubFunction()" class="{{displayLinkedin}}">
<input type="text" id="twitter" [(ngModel)]="twitter" (ngModelChange)="twitterFunction()" class="{{displayTwitter}}">
<input type="text" id="linkedin" [(ngModel)]="linkedin" (ngModelChange)="linkedinFunction()" class="{{displayFacebook}}">

