<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>YoProgramo</title>

      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <link rel="stylesheet" href="/assets/css/style.css">
    
</head>
<body>

 <section> <!--  Navbar  -->
    <nav class="navbar navbar-expand-lg "><!--Navar-->
        <div class="container-fluid">
          <ul id="redes">
            <app-social [color]="'#2169D0'" [color2]="'#37B4D3'" [name]="'Facebook'" [clase]="'fa fa-facebook'" [display]="'on'" [link]="'https://www.facebook.com/'"></app-social>
            <app-social [color]="'#DC67CF'" [color2]="'#A428BA'" [name]="'Instagram'" [clase]="'fa fa-instagram'" [display]="'on'" [link]="'https://www.instagram.com/'"></app-social>  
            <app-social [color]="'#131BCC'" [color2]="'#135CCC'" [name]="'LinkedIn'" [clase]="'fa fa-linkedin'" [display]="'on'" [link]="'https://www.linkedin.com/'"></app-social>  
            <app-social [color]="'#31314D'" [color2]="'#323234'" [name]="'Github'" [imagen]="'../../assets/img/github.png'" [link]="'https://github.com/'" ></app-social>   
            <app-social [color]="'#67B5DC'" [color2]="'#85CEF3'" [name]="'Twitter'" [clase]="'fa fa-twitter'" [display]="'on'" [link]="'https://twitter.com/'"></app-social> 
            <app-social [color]="'#31314D'" [color2]="'#323234'" [name]="'Login'" [imagen]="'../../assets/img/login.png'" [link]="'https://yoprogramo-frontend-2d963.firebaseapp.com'"></app-social>       
            
          </ul>
        </div>
    </nav>
</section>
<section class="perfil-usuario">    <!--Portada-->  
  <app-portada></app-portada>
</section>                
<section class="mt">         <!--Biografia-->
  <div class="box">
  <app-biografia></app-biografia>
    
  </div>


</section>
<section>          <!--Experiencia-->
  <div class="box">
    <app-experiencia></app-experiencia>
  </div>
</section>
<section >          <!--Educacion-->
  <div class="box">    
    <app-educacion></app-educacion>
    
  </div>
</section>                    
<section >          <!-- Proyectos -->
  <div class="box">
   <app-proyecto></app-proyecto>
   
  </div>                                               
</section>
<section>          <!--Skills-->
  <div class="box" style="padding-bottom: 6vw;">
    <h1 class="d-flex justify-content-center">Skills</h1>
    <div style="display: flex; justify-content: center;">
      <div class="contenedor-skills">
        <div style="display: block;">
          <app-circulo descripcion="HTML5" [porcentaje]="resultado"></app-circulo>
          <app-circulo descripcion="CSS3"></app-circulo>
          <app-circulo descripcion="JavaScript"></app-circulo>
          <app-circulo descripcion="Java"></app-circulo>
          
        </div>                                   
        <div class="contenedor-skills">    
          <app-circulo descripcion="Ingles" ></app-circulo>
          <app-circulo descripcion="Scrum"></app-circulo>
          <app-circulo descripcion="DeVOps"></app-circulo>
          <app-circulo descripcion="Git"></app-circulo>                
        </div>
        <div >
          <button type="button" class="btn-style" data-bs-toggle="modal" data-bs-target="#skill-modal" id="addSkill">
            Agregar mis skills
          </button>
        </div>
      </div>  
    </div>  
  </div>  
</section>


  <!--Modal Skills-->
  <div class="modal fade" id="skill-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content" style="display: flex; align-self: center;">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Skills</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="../../datos.usuario.json" method="POST" id="encuesta">
          <!--Diseño-->
          <div class="modal-body">
            <div class="background-modal-card d-flex ">          
              <div id="skillsCarousel" class="carousel slide" data-ride="carousel">
                <!--Listado de elementos-->
                <div class="carousel-indicators" id="listEncuesta">
                  <button type="button" data-bs-target="#encuesta" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#encuesta" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#encuesta" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#encuesta" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#encuesta" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <!--carrousel header-->
                <div class="carousel-inner">                
                  <div class="carousel-item active">
                    <div class="card card-style">
                      <div id="encuesta" class="carousel slide" data-ride="carousel">
                        <!--Contenido-->
                        <div class="carousel-inner" data-bs-slide-to="0">  
                          <app-encuesta (valueChange)="Data($event)" 
                            [titulo]="'HTML5'"
                            [subtitulo]="'Arquietectura web'"

                            [pregunta1]="'¿Estás familiarizado con las etiquetas de encabezado y su importancia para la jerarquía de títulos en HTML?'" 
                            [opciones1]="'h1 h2 h3 h4 h5 h6'"

                            [pregunta2]="'¿Estás familiarizado con el uso de atributos class e id para seleccionar elementos específicos y aplicarles estilos o funcionalidades en HTML?'"
                            [opciones2]="'Class ID'" 

                            [pregunta3]="'¿Estás familiarizado con el concepto de elementos de formulario en HTML, y cómo se utilizan para recopilar datos del usuario?'"
                            [opciones3]="'input | select | textarea'"  
                            
                            [pregunta4]="'¿Estás familiarizado con el uso de etiquetas semánticas en HTML, y cómo contribuyen a una estructura de página web más clara y significativa?'"
                            [opciones4]="'header | main | section | footer | nav'">
                          </app-encuesta>   
                        </div>
                        <div class="carousel-item" data-bs-slide-to="1">                                                                                           
                          <app-encuesta (valueChange)="Data($event)" 
                            [titulo]="'CSS3'"
                            [subtitulo]="'Arquietectura web'"

                            [pregunta1]="'Pregunta 1'" 
                            [opciones1]="'Opcion 1'"

                            [pregunta2]="'pregunta 2'"
                            [opciones2]="'Opcion 2'" 

                            [pregunta3]="'pregunta 3'"
                            [opciones3]="'Opcion 3'"  
                            
                            [pregunta4]="'pregunta 4'"
                            [opciones4]="'Opcion 4'">
                          </app-encuesta>  
                        </div>
                        <div class="carousel-item" data-bs-slide-to="2">  
                          <app-encuesta (valueChange)="Data($event)" 
                            [titulo]="'HTML5'"
                            [subtitulo]="'Arquietectura web'"

                            [pregunta1]="'Pregunta 1'" 
                            [opciones1]="'Opcion 1'"

                            [pregunta2]="'pregunta 2'"
                            [opciones2]="'Opcion 2'" 

                            [pregunta3]="'pregunta 3'"
                            [opciones3]="'Opcion 3'"  
                            
                            [pregunta4]="'pregunta 4'"
                            [opciones4]="'Opcion 4'">
                         </app-encuesta>  
                      </div>
                      <div class="carousel-item">  
                          <app-encuesta (valueChange)="Data($event)" 
                            [titulo]="'HTML5'"
                            [subtitulo]="'Arquietectura web'"

                            [pregunta1]="'Pregunta 1'" 
                            [opciones1]="'Opcion 1'"

                            [pregunta2]="'pregunta 2'"
                            [opciones2]="'Opcion 2'" 

                            [pregunta3]="'pregunta 3'"
                            [opciones3]="'Opcion 3'"  
                            
                            [pregunta4]="'pregunta 4'"
                            [opciones4]="'Opcion 4'">
                          </app-encuesta>  
                        </div>
                        <div class="carousel-item">  
                          <app-encuesta (valueChange)="Data($event)" 
                            [titulo]="'HTML5'"
                            [subtitulo]="'Arquietectura web'"

                            [pregunta1]="'Pregunta 1'" 
                            [opciones1]="'Opcion 1'"

                            [pregunta2]="'pregunta 2'"
                            [opciones2]="'Opcion 2'" 

                            [pregunta3]="'pregunta 3'"
                            [opciones3]="'Opcion 3'"  
                            
                            [pregunta4]="'pregunta 4'"
                            [opciones4]="'Opcion 4'">
                          </app-encuesta>  
                        </div>
                        <!--Boton carrousel-->
                      </div>  
                    </div>      
                    <button class="carousel-control-prev" type="button" data-bs-target="#encuesta" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#encuesta" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>  
                  </div>      
                </div>    
              </div>   
            </div>   
          </div>  
          <div class="modal-footer">
            <button type="button" class="btn-exit" data-bs-toggle="modal">Cerrar</button>
            <button type="button" class="btn-style" data-bs-dismiss="modal" onclick="skillPulic();" id="skillButton">Publicar</button>
          </div> 
        </form>
      </div>  
    </div>  
  </div>  


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script src="./funciones.proyecto.ts/funcion.skills.encuesta.ts"></script>
</body>
</html>