<h1 class="justify-content-center d-flex">Experiencias</h1>

<div style="display: flex; flex-direction: row;">

  <div class="background-lg-experiencia">

<div id="experiencia">

</div>

<div class="experience-container">
  <div class="imgLogo">
    <img src="{{profileExperiencia}}" alt="">
  </div>
  
    <button class="btn-user just justify-content-center" data-bs-toggle="modal" data-bs-target="#experiencia-modal" id="editor">
      <p class="text-experiencia">Añadir experiencia<img src="../../assets/img/newViolet.webp" alt="new" class="logo-experiencias"></p>
    </button>
  
</div>

<div class="modal fade" id="experiencia-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Tu experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="contenedor">
          <div class="box">
            <label for=""><b style="color: rgb(44, 121, 202);">Escribe tu experiencia</b></label>
            <textarea [(ngModel)]="texto" class="inputExperiencia" cols="50" rows="1" id="myTextarea" maxlength="40"></textarea>
         
          <div class="box-skill">
            <div style="padding-bottom: 10px;">
              <h1 class="modal-title vistaPrevia" id="staticBackdropLabel">Vista previa</h1>
            </div>
            <div id="experiencia">

            </div>
            <div class="background-modal-experience d-flex" >
              <div class="imgLogo">
                <img src="{{profileExperiencia}}" alt="" class="imgLogo">
              </div>
             <button type="button" class="btn-user">
                <p class="etiqueta-experiencia-texto" id="charCount">{{ texto }}</p>
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>
   


      <div class="modal-footer">
        <button type="button" class="btn-exit" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn-style" data-bs-dismiss="modal" (click)="addElement()">Publicar</button>
        <div #contenedorExperiencia>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
  
    <div class="background-rg-experiencia">
      <div>
        
        <button class="btn-e new-experience" style="border-radius: 10px 0px 10px 10px;" id="elementExperience">
            <p class="etiqueta-experiencia-texto">{{comentario}}</p>
        </button>
      
      </div> 
    
    </div>
    



  
</div>
<div class="background-chat-experiencia">
  <div style="text-align: right; padding-bottom: 2rem;">
  <textarea name="text" cols="45" rows="1" class="inputExperiencia" id="chat" maxlength="100"></textarea>
</div> 
</div>
<script src="../../assets/js/documentCreateElement.js"></script>