.logo-experiencias{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding:4px;
    opacity: 0.8;
}
.experiencia-fondo{
    background-color: aliceblue;
    border-radius: 60px;
    text-decoration: none;
    box-shadow: 2px;
    text-align: center;
   
}
.text-experiencia{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 0.5rem;
}

.btn-user{
  background-color: #1274bb;
  color: #ffffff;
  border: none;
  right: 0;
  max-width: 50rem;  
  height: 2.8rem;
  border-radius: 20px 20px 20px 0px;
  
}
.btn-user:hover{
  background-color: #589ccd;
}
.btn-e {
  display: flex;
  background-color: #1274bb;
  color: #ffffff;
  max-width: 50rem;
 
  } 
  .btn-e:hover{
    height: auto;
    max-height: none;
  }
  
.experience-container{
    display: flex;
}
.background-modal-experience{
    background-image: url("../../assets/img/banner.png");
    border-radius: 20px 20px;
    box-shadow: 0.5px 0.5px 10px;
    padding: 20px;
}
.photo-update{
    display: none;
}
  .contenedor{
    display: flex;
    justify-content: center;
  flex-direction: column;
  }
  .modal-title{
    color: #e1f0f1;
    background-color: #1274bb;
    border-radius: 35px 35px;
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;  
}
.btn-style:hover{
    background-color: #3592d5;
    border-color: #3592d5;
}
.btn-exit:hover{
    background-color: rgb(194, 38, 38);
    border-color: rgb(194, 38, 38);
}
.btn-exit{
    background-color: brown; 
    border-radius: 20px;
    border: 1px solid brown;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    box-shadow: 2px 12px 12px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.btn-style{
  border-radius: 20px;
  border: 1px solid #1274bb;
  background-color: #1274bb;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  box-shadow: 2px 12px 12px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;                  
}
.imgLogo img{
  border-radius: 20px 20px 20px 20px;
  width: 5vw;
  height: 5vw;
  margin: 1rem 0rem;
}
.background-chat-experiencia{
  background-color: rgb(63, 63, 63); 
  padding-bottom: 1rem;
  padding-right: 1rem; 
  padding-top: 0.5rem;
  height: 3rem;
  width: 100%; 
  border-radius: 0px 0px 20px 20px;
  justify-content: center;
  box-shadow: 1px 5px 15px 0px;
}
.background-lg-experiencia{
  background-color: rgb(211, 228, 235); 
  border-radius: 20px 0px 0px 0px; 
  padding: 2rem; 
  width: 75%;
}
.background-rg-experiencia{
background-color: rgb(52, 53, 53); 
border-radius: 0px 20px 0px 0px;
height: 20rem;
width: 20rem; 
box-shadow: 1px 5px 15px ;
}
.box{
  border-radius: 20px 20px 20px 20px;
  color: #FFFFFF;
  background-color: #d6e0e8;
  padding: 1rem;
  margin: 1rem 0rem;
  box-shadow: 0.5px 0.5px 15px rgba(0, 0, 0, 0.5);
}

textarea {
  border-radius: 20px 20px 20px 20px;
  border-color: #aab8c3;
background-color: #c0cdd7;
}