/*Skills*/
.skill{
    width: 160px;
    height: 160px; 
    position: relative; float: left; display: flex; 
   } 

.outer{
   height: 160px;
   width: 160px;
   border-radius: 50%; 
   padding: 20px;
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
   
} 

.inner{
   height: 120px;
   width: 120px;
   border-radius: 50%; 
   display: flex; 
   align-items: center; 
   justify-content: center; 
   box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05); 
} 

#number{ 
   font-weight: 600px; 
   color:#555; 
} 

circle{ 
   fill: none; 
   stroke: url(#GradientColor);
   stroke-width: 20px; 
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: anim 2s linear forwards; 
} 

svg{ position: absolute; 
   top: 0; 
   left: 0; 
} 

@keyframes anim{ 
   
   100%{ 
       stroke-dashoffset: 120; 
   } 
} 

.cointeiner{ 
   padding: 1em; 
   overflow: hidden; 
   float: left; 
} @keyframes html{ 
   100%{ 
       stroke-dashoffset: 500; 
       } 
   } 
   
.skill .html svg circle{ 
   fill: none; 
   stroke: rgb(230, 60, 26); 
   stroke-width: 20px;
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: html 2s linear forwards; 
} 

@keyframes css{ 
   100%{ 
       stroke-dashoffset: 500; 
   } 
} 

.skill .css svg circle{ 
   fill: none; stroke: rgb(3, 131, 156); 
   stroke-width: 20px; 
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: css 2s linear forwards; 
} @keyframes java{ 
   100%{ 
       stroke-dashoffset: 500;
    } 
} .skill .java svg circle{ 
   fill: none; 
   stroke: rgb(220, 140, 0); 
   stroke-width: 20px; 
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: java 2s linear forwards; 
} 

@keyframes js{ 
   100%{ 
       stroke-dashoffset: 500; 
       } 
} 

.skill .js svg circle{ 
   fill: none; 
   stroke: rgb(233, 248, 35); 
   stroke-width: 20px; 
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: js 2s linear forwards; 
} 

@keyframes english{ 
   100%{ 
       stroke-dashoffset: 500; } 
   } 
   
.skill .english svg circle{ 
   fill: none; 
   stroke: rgb(113, 202, 98); 
   stroke-width: 20px; 
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: english 2s linear forwards;
} 

@keyframes comunicacion{ 
   100%{ 
       stroke-dashoffset: 500; 
       } 
   } 
   
.skill .comunicacion svg circle{ 
   fill: none; 
   stroke: rgb(171, 227, 154); 
   stroke-width: 20px; 
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: comunicacion 2s linear forwards; 
}

@keyframes scrum{ 
   100%{ 
       stroke-dashoffset: 500; 
   } 
} 
.skill .scrum svg circle{ 
   fill: none; 
   stroke: rgb(96, 114, 235); 
   stroke-width: 20px;
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: scrum 2s linear forwards; 
} 
@keyframes Adaptabilidad{ 
   100%{ 
       stroke-dashoffset: 500 
   } 
} .skill .Adaptabilidad svg circle{ 
   fill: none; 
   stroke: rgb(3, 163, 184); 
   stroke-width: 20px; 
   stroke-dasharray: 472; 
   stroke-dashoffset: 472; 
   animation: Adaptabilidad 2s linear forwards; 
} 
.contenedor-skills .skill{ margin:2rem 1rem; 
   display: flex; 
} 

.text-skill{ 
   display: flex; 
   justify-content: center;
    margin: 2rem; 
   } 
   
.mt{ 
   margin-top: 4rem; 
}