<div class="perfil-usuario">
  <div class="contenedor-perfil">
    <div class="portada-perfil">
      <img [src]="banner" id="banner" class="banner">
      <div class="opcciones-perfil">
        <label for="cargarFoto">
          <ul id="ulFunctions">
            <li style="--i:#53b9d0;--j:#1171c0;">
              <div id="icono" onmouseover="desaparecer()"><img src="../assets/img/añadir-imagen.webp"class="ulFunction"></div>
              <span class="titulo">Cambiar</span>
              <input type="file" id="cargarFoto" (change)="updateBanner($event)" class="photo-update">
            </li>
          </ul>
        </label>
      </div>
      <div class="sombra"></div>
      <div class="avatar-perfil">
        <img [src]="profile" id="foto" style="border-radius: 20px 20px 20px 20px;">
        <a href="#" class="cambiar-foto">
          <div>
            <label for="profile">
              <ul id="avatarButton">
                <li style="--i:#53b9d0;--j:#1171c0;">
                  <div id="icono" onmouseover="desaparecer()"><img src="../assets/img/añadir-imagen.webp"class="ulFunction"></div>
                  <span class="titulo">Cambiar</span>
                  <input type="file" id="profile" (change)="updateProfile($event)" class="photo-update">
                </li>
              </ul>
            </label>
          </div>
        </a>
      </div>
      <div class="datos-perfil">
        <h1 id="user"> mi nombre es {{nombre}}</h1>
      </div>
    </div>
  </div>
</div>
